{% extends "blog/base.html" %}

{% block title %}
Distribution of things - About
{% endblock title %}

{% block content %}
<div class="container px-4">
  <div class="row mb-4">
    <div class="col-md-10 col-lg-8 col-xl-7 col-xxl-7 mx-auto">
        <h1>About</h1>
        <p><small>I thought about calling this page 'FAQ' but one has yet to ask me a single of these questions...</small></p><br>

        <p><b>What is this?</b><br>This is a website.<br>This is a collection of frequency distributions.<br>I recently started learning about data analysis and web development. This is my way to practice both.</p>

        <p><b>What is a distribution anyway?</b><br>The distribution of a dataset is the spread of the data which shows all possible values or intervals of the data and how often they occur. We’re quite used to describe datasets with average values such as mean, sometimes median. These are interesting but often fail to describe a dataset accurately.

    Distributions don’t tell everything either, but they  are a lot more powerful than a single figure.</p>


<p><b>I have an idea of a distribution, can I share it with you?</b><br>Please do! You can email me at <a href="mailto:de.mondragon.g@gmail.com">de.mondragon.g@gmail.com</a>. If you have the data that goes with it, it’s even better :)</p>


<p><b>There are some shocking errors on this website.</b><br>Help me improve (and prevent me from spreading misinformation) by telling me what’s wrong. I will remove it or make it less shocking.</p>
    </div>
  </div>
</div>
{%endblock%}